<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Change Password</title>
</head>
<body>
<div>
    <h3>Change password for {{ username }} </h3>
    {% for message in messages %}
    <p><i>{{ message }}</i></p>
    {% endfor %}
    <form action="/admin/password" method="post">
        <label>Current Password
            <input
                    type="password"
                    placeholder="Enter current password"
                    name="current_password"
            >
        </label>
        <label>New Password
            <input
                    type="password"
                    placeholder="Enter new password"
                    name="new_password"
            >
        </label><br>
        <label>Confirm New Password
            <input
                    type="password"
                    placeholder="Enter new password"
                    name="confirm_new_password"
            >
        </label><br>
        <button type="submit">Update password</button>
    </form>
    <p><a href="/admin/dashboard">&lt;- Back</a></p>
</div>
</body>
</html>
