<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>Login</title>
</head>
<body>
{% for message in messages %}
<p><i>{{ message }}</i></p>
{% endfor %}
<form action="/login" method="post">
    <label>Username
        <input
                type="text"
                placeholder="Enter Username"
                name="username"
                required
        > <br>
    </label>
    <label>Password
        <input
                type="password"
                placeholder="Enter Password"
                name="password"
                required
        >
    </label> <br>
    <button type="submit">Login</button>
</form>
</body>
</html>